<div class="pagination">
  <a 
    href="?page=<%= pagination.page - 1 %>"
    class="pagination__link pagination__link--prev <%= pagination.page === 1 ? 'disabled' : ''; %>"
  >
    << prev 
  </a>
  <span>|</span>
  <a
    href="?page=<%= pagination.page + 1 %>"
    class="pagination__link pagination__link--prev <%= pagination.numOfItems <= pagination.pageSize ? 'disabled' : ''; %>"
  >
    Next >>
  </a>
</div>
