<% if (locals.user) { %>
  <div class="post-box">
    <form action="" method="POST" class="post-box__form form">
      <p class="form__input-wrapper">
        <label for="post" class="form__label sr-only">
          Post a message
        </label>
        <textarea 
          name="post" 
          id="post" 
          cols="30" 
          rows="10" 
          class="form__textarea"
          placeholder="Hi <%= user.first_name %>, What's on you mind?"
          required
        ></textarea>
      </p>
      <button type="submit" class="btn btn--submit">Post message</button>
    </form>
  </div>
<% }; %>
