<main>
  <section>
    <h1 class="title title--primary">Control Panel</h1>
    <p>Here you can manage and monitor your club's activities.</p>
    <ul>
      <li>
        <a href="/club/<%= club.id %>/control-panel/join-requests"
          >Join Requests</a
        >
      </li>
      <li>
        <a href="/club/<%= club.id %>/control-panel/reported-posts"
          >Reported Posts</a
        >
      </li>
      <li>
        <a href="/club/<%= club.id %>/control-panel/ban-list">Ban List</a>
      </li>
      <li><a href="/edit/club/<%= club.id %>">Edit club</a></li>
    </ul>
  </section>
</main>
