<main>
  <%- include("./partials/clubSearchbar.ejs") %>
  <ul>
    <li>
      <a href="/club/new">Create new club</a>
    </li>
    <% clubs.forEach((club) => { %>
    <li>
      <a href="/club/<%= club.id %>"><%= club.name %></a>
    </li>
    <% }); %>
  </ul>
  <%- include("./partials/pagination.ejs") %>
</main>
