<main>
  <h1 class="title title-primary"><%= club.name %></h1>
  <p>About Club: <%= club.about %></p>
  <p>Privacy: <%= club.privacy %></p>
  <p>Number of members: <%= club.numberOfMembers %></p>
</main>
