<main>
  <h1 class="sr-only">Global Club</h1>

  <% if (locals.user) { %>
    <%- include("./partials/postBox.ejs") %>
    <%- include("./partials/posts.ejs") %>

    <form action="/logout" method="post" class="form">
      <button type="submit" class="btn btn--logout">Logout</button>
    </form>
  <% } else { %>
    <p>You are not logged in. Please <a href="/login">login</a> to add your message.</p>
  <% }; %>
  
</main>
