<main>
  <h1>Global Club</h1>

  <% if (locals.user) { %>
    <p><a href="/profile">Profile</a></p>
    <p><a href="/list-of-clubs">Clubs</a></p>
    <p><a href="/club/new">Create new club</a></p>
    
    <%- include("./partials/postBox.ejs") %>
    <%- include("./partials/posts.ejs") %>

    <form action="/logout" method="post" class="form">
      <button type="submit" class="btn btn--logout">Logout</button>
    </form>
  <% } else { %>
    <p>You are not logged in. Please <a href="/login">login</a> to add your message.</p>
  <% }; %>
  
</main>
