<main class="index">
  <% if (locals.user) { %>
    <h1 class="sr-only">Global Club</h1>
    <%- include("./partials/postBox.ejs") %>
    <%- include("./partials/posts.ejs") %>
    <form action="/logout" method="post" class="form">
      <button type="submit" class="btn btn--logout">Logout</button>
    </form>
  <% } else { %>
    <section>
      <%- include("./partials/posts.ejs") %>
    </section>
    <section class="login-cta">
      <h1 class="login-cta__title">There's more to do</h1>
      <p class="login-cta__description">Join Clubs, create clubs, post messages and farm your Aura.</p>
      <div class="login-cta__btns">
        <a href="/login" class="login btn btn--submit">Log in</a>
        <a href="/sign-up" class="signup btn btn--outline">Create new account</a>
      </div>
    </section>
  <% }%>
</main>
