<main>
  <h1>Global Club</h1>
  <% if (!locals.user) { %>
    <p>You are not logged in. Please <a href="/login">login</a> to add your message.</p>
  <% }; %>

  <%- include("./partials/postsBox.ejs") %>
  <%- include("./partials/posts.ejs") %>
  <form action="/logout" method="post" class="form">
    <button type="submit" class="btn btn--logout">Logout</button>
  </form>
</main>
