<main>
  <h1>Create new club</h1>
  <form action="" method="post" class="form">
    <p class="form__input-wrapper">
      <label for="name" class="form__label">
        Club name<span class="required" title="required">*</span> :
      </label>
      <input
        type="text"
        class="form__input"
        id="name"
        name="name"
        maxlength="128"
        placeholder="Geo Nature"
        required
      />
    </p>
    <p class="form__input-wrapper">
      <label for="about" class="form__label">
        About club<span class="required" title="required">*</span> :
      </label>
      <textarea
        class="form__textarea"
        name="about"
        id="about"
        maxlength="255"
        placeholder="We talk about nature and geography..."
        required
      ></textarea>
    </p>
    <p class="form__input-wrapper">
      <label for="privacy" class="form__label">
        Club privacy<span class="required" title="required">*</span> :
      </label>
      <select name="privacy" id="privacy" class="form__select" required>
        <option value="open" selected>Open</option>
        <option value="invite-only">Invite only</option>
        <option value="closed">Closed</option>
      </select>
    </p>
    <button type="submit" class="btn btn--submit">Create</button>
  </form>
</main>
