<main>
  <h1 class="title title--primary">
    Profile of <%= user.first_name %> <%= user.last_name %>
  </h1>
  <a href="/profile/<%= profileId %>/notifications">Notifications</a>
  <a href="/">Return to homepage</a>
</main>
