<main>
  <ul>
    <li><a href="/edit/profile/<%= user.id %>/name">Edit Name</a></li>
    <li><a href="/edit/profile/<%= user.id %>/email">Change Email Address</a></li>
    <li><a href="/edit/profile/<%= user.id %>/password">Change Password</a></li>
  </ul>
</main>
