@import "./partials/posts.css";

.profile-head {
  background-color: var(--clr-neutral-100);
  padding: 2em;
}

.profile-head__details {
  display: flex;
  gap: 1rem;
}

.profile__avatar {
  width: 5rem;
  aspect-ratio: 1/1;
  object-fit: contain;
  object-position: center;
}

.profile__name-wrapper {
  display: flex;
  gap: 0.5rem;
}

.profile__name {
  font-weight: var(--fw-bold);
}

.profile__id {
  font-weight: var(--fw-regular);
  opacity: 0.5;
}

.profile .posts {
  margin-top: 0;
}
