:root {
  --clr-primary-400: hsl(258, 50%, 43%);

  --clr-accent-400: hsl(265, 32%, 78%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-700: hsl(0, 0%, 20%);
  --clr-neutral-900: hsl(0, 0%, 0%);

  --clr-alert-400: hsl(360, 100%, 50%);

  --ff-title: "Roboto Condensed", serif;
  --ff-body: "Roboto", serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-200: 0.875rem;
  --fs-400: 1rem;
  --fs-700: 1.25rem;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button {
  background-color: transparent;
}

/* to enable percentage based height */
html,
body {
  height: 100%;
}

/* STYLING */
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  padding: 2em 1em;
}

body {
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-700);
}

a {
  color: var(--clr-primary-400);
}

.navbar {
  background-color: var(--clr-accent-400);
  padding: 1em;
}

.navbar__list {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.navbar__icon {
  fill: var(--clr-neutral-700);
  opacity: 0.75;
  transition: transform 200 linear;
}

.navbar__icon:hover {
  fill: var(--clr-neutral-900);
  opacity: 1;
  transform: scale(110%);
}

.navbar__icon:active {
  transform: scale(95%);
}

.navbar__icon.cta {
  opacity: 1;
  fill: var(--clr-neutral-900);
}

.navbar__back-link {
  margin-right: auto;
}

.notification-icon {
  position: relative;
}

.notification-icon:hover {
  cursor: pointer;
  transform: scale(110%);
}

.notification-icon:active {
  transform: scale(95%);
}

.notification-icon svg {
  fill: var(--clr-accent-400);
}

.notification-icon:hover svg {
  fill: var(--clr-neutral-100);
}

.notification-icon.active svg {
  fill: var(--clr-neutral-100);
}

.notification-icon__bubble {
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  font-size: 0.75rem;
  text-align: center;
  background-color: var(--clr-alert-400);
  color: var(--clr-neutral-100);
  position: absolute;
  top: 0;
  right: 0;
}

/* UTILITY CLASSES */

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hidden {
  display: none;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  transform: scale(95%);
}

.btn--submit {
  font-weight: var(--fw-bold);
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  text-transform: capitalize;
  padding: 1em 2.5em;
  border: none;
}

.btn--submit:hover {
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.25);
}

.btn--submit:active {
  box-shadow: none;
}

.title {
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
}

.title--primary {
  font-size: var(--fs-700);
  padding: 1em;
  color: var(--clr-neutral-900);
  border: 1px solid var(--clr-neutral-700);
}
