.posts {
  margin-top: 2rem;
}

.post {
  padding: 1em;
  border-bottom: 1px solid var(--clr-accent-400);
}

.post__head {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
}

.post__title-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.post__author-name,
.post__club-name {
  font-weight: bold;
}

.post__author-name > a,
.post__club-name > a {
  text-decoration: none;
}

.post__author-name {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.post__author-id {
  font-weight: var(--fw-regular);
  opacity: 0.5;
}

.post__time-role-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: var(--fs-200);
}

.post__body {
  padding: 1em 0;
}

.post__message {
  word-wrap: break-word;
  word-break: normal;
  line-height: 1.4;
}

.post__options_list {
  list-style: none;
}

.post__btn--options {
  border: none;
}

.post__btn--options:hover {
  cursor: pointer;
}

.post__btn--options::after {
  content: "···";
}

.post__btn--options.close::after {
  content: "X";
}

.post__edit-form_input-wrapper {
  display: grid;
}

.post__edit-form_input {
  height: 10rem;
  padding: 1em;
  border: 1px solid var(--clr-neutral-400);
}

.post__edit-form_input {
  border-color: var(--clr-primary-400);
  outline-color: var(--clr-primary-400);
}

.post__edit-form_max-limit {
  text-align: right;
  margin-top: 0.5rem;
}

.in-club-icon {
  width: 1em;
  height: 1em;
  background-image: url("../../assets/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
