.posts {
  margin-top: 2rem;
}

.post {
  background-color: var(--clr-neutral-100);
  padding: 2em 1em;
  margin-top: 0.5rem;
}

.post__author-name {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: bold;
}

.post__author-name > a {
  text-decoration: none;
}

.post__author-id {
  opacity: 0.5;
}

.post__time-role-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.post__body {
  padding: 1em 0;
}

.post__message {
  word-wrap: break-word;
  word-break: normal;
}
